# Format Style Options - Created with Clang Power Tools
---
BasedOnStyle: LLVM
ColumnLimit: 110
ContinuationIndentWidth: 2
DerivePointerAlignment: true
IndentCaseLabels: true
IndentWidth: 4
MaxEmptyLinesToKeep: 2
ReflowComments: false
SortIncludes: false
SpacesBeforeTrailingComments: 2
SpacesInContainerLiterals: false