root = .
filter = sdks/cpp
exclude = (.+/)?build/
exclude = (.+/)?tests/
exclude = (.+/)?examples/
exclude = (.+/)?vdk/
# deletes coverage files after processing so subsequent runs start fresh
delete-gcov-files = yes
# combines line hits from multiple specializied template functions into a single line
merge-lines = yes
# always want to output these formats
# html we only sometimes want, so those go on the command line
lcov = coverage/coverage.info
xml = coverage/coverage.xml
# search path controls where gcovr looks for object files
# we need to point it where all the main code is built
# but don't include any of the examples
search-path = build/cpp/common/CMakeFiles
search-path = build/cpp/connections/gRPC/CMakeFiles
search-path = build/cpp/connections/REST/CMakeFiles
search-path = build/cpp/unittests