#
# Copyright 2025 Ross Video Ltd
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice,
# this list of conditions and the following disclaimer.
#
# 2. Redistributions in binary form must reproduce the above copyright notice,
# this list of conditions and the following disclaimer in the documentation
# and/or other materials provided with the distribution.
#
# 3. Neither the name of the copyright holder nor the names of its contributors
# may be used to endorse or promote products derived from this software without
# specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS”
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
# POSSIBILITY OF SUCH DAMAGE.
#

#
# OpenAPI documentation of the RPCs for the Catena REST API
# Author: benjamin.whitten@rossvideo.com
# Date: 25/04/03
#

openapi: '3.0.3'
info:
  title: Catena API
  version: '1.0'
servers:
  - url: https://device.catenamedia.tv/v1
  - url: http://localhost:443/v1
paths:
  /device-request/{slot}:
    $ref: './paths/DeviceRequest.yaml'
  /get-populated-slots:
    $ref: './paths/GetPopulatedSlots.yaml'
  /execute-command/{slot}:
    $ref: "./paths/ExecuteCommand.yaml"
  /external-object-request/{slot}:
    $ref: './paths/ExternalObjectRequest.yaml'
  /basic-param-info-request/{slot}:
    $ref: './paths/BasicParamInfoRequest.yaml'
  /get-value/{slot}:
    $ref: './paths/GetValue.yaml'
  /set-value/{slot}:
    $ref: './paths/SetValue.yaml'
  /multi-set-value/{slot}:
    $ref: './paths/MultiSetValue.yaml'
  /update-subscriptions/{slot}:
    $ref: './paths/UpdateSubscriptions.yaml'
  /get-param/{slot}:
    $ref: './paths/GetParam.yaml'
  /connect:
    $ref : './paths/Connect.yaml'
  /add-language/{slot}:
    $ref: './paths/AddLanguage.yaml'
  /language-pack-request/{slot}:
    $ref: './paths/LanguagePackRequest.yaml'
  /list-languages/{slot}:
    $ref: './paths/ListLanguages.yaml'
